@model SyntacticDocs.ViewModels.PageViewModel

@{
    ViewData["Title"] = "Home Page";
		Func<Document,string> getMenuItemClassByDocument = (document)=>{
			var className = (document.Alias == (ViewContext.RouteData.Values["path"] as string) ? "active" : "");
			if(document.Documents!=null && document.Documents.Any()){
				className+=" panel panel-default";
			}
			return className;
		};
		Func<string> getHomeMenuItemClass = ()=>{			
			return string.IsNullOrEmpty(ViewContext.RouteData.Values["path"] as string) ? "active" : "";
		};
}
	       

<div class="col-sm-3 sidebar"> 	
	<form method="GET" role="search">                
		<input type="text" class="form-control" placeholder="Search for...">                               
	</form>
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-stacked">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
	</button>		
	<ul class="navbar-collapse collapse nav nav-pills nav-stacked">
		<li class="@getHomeMenuItemClass()">
			<a href="/">Home</a>
		</li>
		@if(Model.Navigation!=null)
		{
			foreach(var doc in Model.Navigation)
			{
				<li class="@getMenuItemClassByDocument(doc)" id="dropdown">					
					@if(doc.Documents!=null && doc.Documents.Any())
					{
						<a data-toggle="collapse" href="#dropdown-@doc.Alias">							 
							@doc.Title
							<i class="fa fa-long-arrow-down" aria-hidden="true"></i>
						</a>
						<div id="dropdown-@doc.Alias" class="panel-collapse collapse">	
							<div class="panel-body">
									<ul class="nav navbar-nav">
											@foreach(var subDoc in doc.Documents)
											{
												<li class="@getMenuItemClassByDocument(subDoc)">
													<a href="/home/index/@subDoc.Alias">@subDoc.Title</a>
												</li>
											}					
									</ul>
							</div>
						</div>			
					}
					else
					{
						<a href="/home/index/@doc.Alias">@doc.Title</a>
					}
				</li>
			}
		}	
	</ul>  
</div>

<div class="col-sm-9 content">

	<div class="row">        
        <ol class="breadcrumb bread-primary ">
          	<li><i class="fa fa-book"></i> Home</li>
            <li><a href="#">TOPICS</a></li> 
			<li><a id="edit-document-btn" href="javascript:void(0);"><i class="fa fa-pencil-square-o"></i></a></li>           
        </ol>
		<hr class="hr-primary" />
    </div>		

	<div id="markdown-view-mode">
		<markdown source="Doc.Content" />
	</div>
	<div id="markdown-edit-mode">
		<textarea id="markdown-editor">@Model.Doc.Content</textarea>
	</div>

	<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
</div>

<div id="save-confirmation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="save-confirmation-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onClick="syntacticDocs.cancelChanges();"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="save-confirmation-label">Save confirmation</h4>
      </div>
      <div class="modal-body">
		You are about to save this document, do you want to continue?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onClick="syntacticDocs.cancelChanges();" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onClick="syntacticDocs.saveCurrentDocument();">Save changes</button>
      </div>
    </div>
  </div>
</div>
@section scripts
{
	<script>syntacticDocs.currentDocument = {id: @Model.Doc.Id,content: ""}</script>
}